$color-white-1: #ffffff;
$color-white-2: #e6e8e8;

$color-black-1: #000000;
$color-black-2: #1e1e30;
$color-black-3: #242323;

$color-grey-1: #d3d3d3;

$color-blue-1: #148ade;
$color-green-1: #0aab28;

// Box shadow
$box-shadow-1: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
