body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  text-align: center;
  margin: auto;
  color: red;
}
h2 {
  text-align: center;
  color: red;
}
h3 {
  text-align: center;
  color: red;
}
h4 {
  text-align: center;
  color: red;
}
h5 {
  text-align: center;
  margin: 10px;
  color: red;
}
h6 {
  text-align: center;
  margin: auto;
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 50px;
  .light-main-card {
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    .clock-main-card {
      display: flex;
      justify-content: center;
      margin: 30px;
      .inner-clock-card {
        border: 1px solid white;
        background-color: white;
        border-radius: 20px;
        height: 160px;
        width: 140px;
        .clock-card-icons {
          display: flex;
          justify-content: center;
          text-align: center;
          margin: 5px;
          .clock-card-icon1 {
            color: black;
            background-color: #e6e8e8;
            width: 30px;
            padding: 5px;
            border-radius: 5px;
          }
          .clock-card-icon2 {
            color: black;
            background-color: #e6e8e8;
            width: 30px;
            padding: 5px;
            border-radius: 5px;
          }
        }
        .clock-dots {
          display: flex;
          justify-content: center;
          text-align: center;
          margin: 5px;
        }
      }
    }
    .calender-main-card {
      display: flex;
      flex-direction: column;
      margin: 30px;
      .inner-calender-card {
        background-color: white;
        border-radius: 20px;
        height: 160px;
        width: 140px;
        .calender-sub-cards {
          display: flex;
          justify-content: center;
          text-align: center;
        }
        .calender-sub-cards {
          margin: 5px;
          .calender-card-card1 {
            color: black;
            background-color: #e6e8e8;
            width: 50px;
            height: 60px;
            border-radius: 10px;
          }
          .calender-card-card2 {
            color: black;
            background-color: #d4faf4;
            width: 50px;
            height: 60px;
            border-radius: 10px;
          }
        }
        .calender-dots {
          display: flex;
          justify-content: center;
          text-align: center;
          margin: 5px;
        }
      }
    }
  }
  .dark-main-card {
    background-color: #242323;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .clock-main-card {
      display: flex;
      justify-content: center;
      margin: 30px;
      .inner-clock-card {
        background-color: black;
        border-radius: 20px;
        height: 160px;
        width: 140px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .clock-card-icons {
          display: flex;
          justify-content: center;
          text-align: center;
          margin: 5px;
          .clock-card-icon1 {
            color: white;
            background-color: #242323;
            width: 30px;
            padding: 5px;
            border-radius: 5px;
          }
          .clock-card-icon2 {
            color: white;
            background-color: #242323;
            width: 30px;
            padding: 5px;
            border-radius: 5px;
          }
        }
        .clock-dots {
          display: flex;
          justify-content: center;
          text-align: center;
          margin: 5px;
          color: white;
        }
      }
    }
    .calender-main-card {
      display: flex;
      flex-direction: column;
      margin: 30px;
      //   line-height: 0px;
      .inner-calender-card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: white;
        border-radius: 20px;
        height: 160px;
        width: 140px;
        background-color: black;
        .calender-sub-cards {
          display: flex;
          justify-content: center;
          text-align: center;
          margin: 5px;
          .calender-card-card1 {
            color: black;
            background-color: #148ade;
            width: 50px;
            height: 60px;
            border-radius: 10px;
            .h6 {
              margin: auto;
            }
          }
          .calender-card-card2 {
            color: black;
            background-color: #0aab28;
            width: 50px;
            height: 60px;
            border-radius: 10px;
          }
        }
        .calender-dots {
          display: flex;
          justify-content: center;
          text-align: center;
          margin: 5px;
          color: white;
        }
      }
    }
  }
}

.Navbar {
  display: flex;
  flex-direction: row;
  height: 4rem;
  align-items: center;
  justify-content: space-between;

  .navbar-left {
    // width: 3rem;
    // border: 1px solid;
  }

  //   .navbar-middle {
  //     // border: 1px solid;
  //     color: #6c757d;
  //     font-size: 18px;
  //     font-weight: 900;
  //   }

  .navbar-right {
    width: 3rem;
    cursor: pointer;
  }
}

.dark-mode {
  .Navbar {
    background-color: #1e1e30;
  }
}

.dark-mode {
  .navbar-middle {
    color: white !important;
  }
}
